<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <p>ask</p>
        <form action="{% url 'yk:ask' friend.id%}" method="POST">
            {% csrf_token %}
            <label for="question"></label>
            <input type="text" name="question" placeholder="친구에게 물어봐요" />
            <button type="submit">ask!</button>
        </form>
    </body>
</html>
