<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>

    <body>
        <div>
            <img src="{{friend_profile.profile_image.url}}" alt="" width="100" />
            <h1>{{friend_profile.nickname}}</h1>
            <p>{{friend_profile.school}}/{{friend_profile.gender}}/{{friend_profile.age}}/{{friend_profile.mbti}}</p>
            <p>{{friend_profile.major}} {{friend_profile.goal}}</p>
            <p>{{friend_profile.club}}</p>
            <p>{{friend_profile.address}}</p>
            {% for interest in friend_profile.interest.all %}
            <p>#{{interest}}</p>
            {% endfor %}
        </div>

        {% comment %}
        <div>
            <a href="{% url 'yk:ask' user.id%}"><button>ask</button></a>
        </div>
        {% endcomment %}

        <div>
            {% for ask in asks %}
            <p>q. {{ask}}</p>
            {% for answer in ask.ask.all %}
            <p>a. {{answer}} / {{answer.answered_at}}</p>
            {% endfor %} {% endfor %}
        </div>
        <div class="askbox">
            <input type="text" placeholder="친구에게 익명으로 ask를 해보세요!" />
            <button type="submit" onclick="onClickAsk({{ friend.id }})">{% csrf_token %} ask</button>
        </div>
        <br />
        <a href="{% url 'yk:profile' random_user.id%}"><button>넘기기</button></a>
        <a href="{% url 'yk:follow' friend_profile.user.id%}"><button>FRIENDS</button></a>
        <a href="{% url 'yk:report_user' friend_profile.user.id%}"><button onclick="ReportUser()">신고하기</button></a>
    </body>
    <script>
        const request = new XMLHttpRequest();

        const onClickAsk = (id) => {
            const url = "/ask/";
            const input = document.querySelector(`.askbox input`);
            const question = input.value;
            request.open("POST", url, true);
            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            request.send(JSON.stringify({ id, question }));
        };

        const handleResponse = () => {
            if (request.status <= 400) {
                const { id, question } = JSON.parse(request.response);
                const input = document.querySelector(`.askbox input`);
                input.value = "";
                alert("질문을 완료했습니다!");
            }
        };

        request.onreadystatechange = () => {
            if (request.readyState === XMLHttpRequest.DONE) {
                handleResponse();
            }
        };

        const ReportUser = () => {
            confirm("신고하시겠습니까?");
        };
    </script>
</html>
